# More details on how to configure the Travis build
# https://docs.travis-ci.com/user/customizing-the-build/

dist: trusty

language: scala

jdk:
  - oraclejdk8

script: ./gradlew build -s -PscalaVersion=$TRAVIS_SCALA_VERSION -PsparkVersion=$SPARK_VERSION;

jobs:
  include:
    - scala: 2.11.8
      env: SPARK_VERSION=2.3.0
    - scala: 2.11.8
      env: SPARK_VERSION=2.4.3
    - scala: 2.12.11
      env: SPARK_VERSION=2.4.3
    - stage: publish
    - script: ./gradlew bintrayUpload -s -PscalaVersion=$TRAVIS_SCALA_VERSION -PsparkVersion=$SPARK_VERSION
      scala: 2.11.8
      env: SPARK_VERSION=2.3.0
    - script: ./gradlew bintrayUpload -s -PscalaVersion=$TRAVIS_SCALA_VERSION -PsparkVersion=$SPARK_VERSION
      scala: 2.11.8
      env: SPARK_VERSION=2.4.3
    - script: ./gradlew bintrayUpload -s -PscalaVersion=$TRAVIS_SCALA_VERSION -PsparkVersion=$SPARK_VERSION
      scala: 2.12.11
      env: SPARK_VERSION=2.4.3
    - stage: release
      script: ./gradlew build -s -PscalaVersion=$TRAVIS_SCALA_VERSION -PsparkVersion=$SPARK_VERSION && ./gradlew ciPerformRelease;
      scala: 2.11.8
      env: SPARK_VERSION=2.3.0

# Skipping install step to avoid having Travis run arbitrary './gradlew assemble' task
# https://docs.travis-ci.com/user/customizing-the-build/#Skipping-the-Installation-Step
install:
  - true

# Don't build tags
branches:
  except:
    - /^v\d/
